@model SIA.Models.Agentes

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Agentes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodigoRes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CodigoRes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CodigoInt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CodigoInt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CodigoMaster)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CodigoMaster)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RazonSocial)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Situacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Situacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ruc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ruc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoAgencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoAgencia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoAgente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoAgente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Localidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Localidad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pais)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pais)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Frecuencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Frecuencia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contacto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contacto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Notas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Notas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UsuarioReg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UsuarioReg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaReg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaReg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UsuarioMod)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UsuarioMod)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaMod)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaMod)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SysPC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SysPC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Grupo1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Grupo1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Clase)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Clase)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CtaBancaria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CtaBancaria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.flag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tour_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tour_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.canEmi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.canEmi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AutoCrear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AutoCrear)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
