@section Styles{
    @Styles.Render("~/Content/daterangepicker")
    @Styles.Render("~/Content/dataTable")
}
@{
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
    // ESTABLECEMOS EL TITULO DEL CONTENIDO PRINCIPAL
    ViewBag.Title = "PRINCIPAL";
    // TEXTO ADICIONAL DEL TITULO (MENOR TAMAÑO)

    //Relación ubicacion (TEXTO - ? -ICONO)

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
new Crumb("Principal","","fa-home")
});
}
<div ng-view class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header">
                @Html.Partial("~/Views/Home/_Menu.cshtml")
            </div>
            <div class="box-body">

                <div id="nav_reportesVentas" class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#reportes" data-toggle="tab" aria-expanded="true">Reportes</a></li>
                        <li class=""><a href="#boletos" data-toggle="tab" aria-expanded="false">Boletos</a></li>
                        <li><a href="#facturas" data-toggle="tab">Facturas</a></li>
                        <li><a href="#depositos" data-toggle="tab">Depositos</a></li>
                        <li><a href="#tarjetas" data-toggle="tab">Tarjetas</a></li>
                        <li><a href="#adm" data-toggle="tab">ADM</a></li>
                        <li><a href="#acm" data-toggle="tab">ACM</a></li>
                        <li><a href="#gastos" data-toggle="tab">Gastos</a></li>
                        <li><a href="#reembolsos" data-toggle="tab">Reembolsos</a></li>
                        <li><a href="#cuadre" data-toggle="tab">Cuadre</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="reportes">
                            @Html.Partial("_FiltrosReportes")
                            @{var ShowTable = @ViewBag.Bool;}
                            @{var StringError = @ViewBag.Error;}
                            @if (ShowTable)
                            {
                                @Html.Partial("_TblReportes")
                            }
                            @if (!string.IsNullOrEmpty(StringError))
                            {
                                @Html.Partial("_Modal")
                                <input type="hidden" id="ValModal" value="@ViewBag.Error"/>
                            }

                        </div>
                        <div class="tab-pane active" id="boletos">
                        </div>
                        @Html.Partial("_Boletos")
                        <div class="tab-pane" id="facturas">

                        </div>

                        <div class="tab-pane" id="depositos">

                        </div>
                        <div class="tab-pane" id="tarjetas">

                        </div>
                        <div class="tab-pane" id="adm">

                        </div>
                        <div class="tab-pane" id="acm">

                        </div>
                        <div class="tab-pane" id="gastos">

                        </div>
                        <div class="tab-pane" id="reembolsos">

                        </div>
                        <div class="tab-pane" id="cuadre">

                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

            <div id="footerDetalle" class="box-footer">
                @{

                }
            </div>

        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/rptaventa")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/dataTable")
}



